<!doctype html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Is Tom Jursa Alive?</title>
<style>
.box {
    width:300px;
    height:300px;
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
}
</style>
</head>
<body bgcolor="#FFFFFF">
<table border="0" width="100%" height="100%" class="box">
<tbody><tr>
        <td align="center"><font size="7">{{ msg }}</font></td> 

</tr>
</tbody></table>




</body></html>

